.all-product-container {
  padding: 0 5rem;
}

.all-product-title {
  font-size: 5vw;
  text-align: right;
  margin: 3vw 0;
  text-transform: uppercase;
  text-align: center;
  font-family: Avenir;
  font-weight: 600;
  letter-spacing: 0.5vw;
  transition: all ease 0.2s;
}

.all-product-section-container {
  height: fit-content;
}

.all-product-section {
  position: relative;
}

.all-product-section-list {
  list-style: none;
  position: sticky;
  top: 8vw;
  /* padding-right: 10%; */
}

.all-product-section-list-item {
  margin-bottom: 10%;
  text-align: center;
  color: #dedede;
  position: relative;
  z-index: 1;
}

.all-product-section-list-item:hover a {
  color: #000;
}

.all-product-section-list-item a {
  font-size: 1.2vw;
  text-decoration: none;
  color: #dedede;
  transition: all ease 0.2s;
  display: block;
  text-transform: uppercase;
  font-family: Avenir;
  padding: 0.5vw 0;
  position: relative;
  z-index: 1;
}

.all-product-section-image-item-container {
  padding-top: 2vw;
  margin-bottom: 1vw;
  transition: all ease 0.2s;
  position: relative;
}

.all-product-section-image-item-container:hover {
  background: #fff;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 40px rgba(221, 67, 2, 35%);
  transform: translate(0, -0.5vw);
}

.all-product-section-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 25vw;
  transition: all ease 0.15s;
}

.all-product-section-info-container {
  margin-top: 2rem;
  border-top: 0.1rem solid rgb(193, 193, 193);
  padding: 1rem 0;
}

.all-product-section-info-name {
  font-size: 1vw;
  margin-bottom: 0;
  font-family: Avenir;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 1%;
}

.all-product-section-info-price {
  font-size: 1vw;
  font-family: Avenir;
  color: var(--pri-color);
}
