@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("//db.onlinewebfonts.com/c/1c87f20c55baa7eccc98b8603b5eecea?family=Grifinito+L");
@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@200;400&display=swap");

@font-face {
  font-family: Oswald;
  src: url("../fonts/Oswald/Oswald-Medium.ttf");
}

@font-face {
  font-family: Roundhandbt;
  src: url("../fonts/Roundhand/Roundhand\ BT.ttf");
}

@font-face {
  font-family: DrunkWide;
  src: url("../fonts/Druk-Wide-Bold.ttf/Druk\ Wide\ Bold.ttf");
}

@font-face {
  font-family: "Grifinito L";
  src: url("//db.onlinewebfonts.com/t/1c87f20c55baa7eccc98b8603b5eecea.eot");
  src: url("//db.onlinewebfonts.com/t/1c87f20c55baa7eccc98b8603b5eecea.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/1c87f20c55baa7eccc98b8603b5eecea.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/1c87f20c55baa7eccc98b8603b5eecea.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/1c87f20c55baa7eccc98b8603b5eecea.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/1c87f20c55baa7eccc98b8603b5eecea.svg#Grifinito L")
      format("svg");
}

@font-face {
  font-family: IvyMode;
  src: url(../fonts/IvyMode/IvyMode-WOFF/IvyMode-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: PPEiko;
  src: url(../fonts/PPEiko/ppeiko-thin.otf);
  font-weight: 100;
}
@font-face {
  font-family: Founders Grotesk;
  src: url(../fonts/Founders_Grotesk/Founders_Grotesk/FoundersGrotesk-Light.otf);
  font-weight: 300;
  letter-spacing: 0.1vw;
}

@font-face {
  font-family: Ortica;
  src: url(../fonts/Ortica/desktop/Ortica-Light.otf);
}

@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir_Next_Pro_Full/Avenir_Next_Pro_Full/AvenirNextLTPro-Regular.otf);
}

:root {
  --pri-color: #dd4302;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Playfair Display", serif;
}

body {
  font-size: 1.4rem;
  overflow-x: hidden;
  background-color: #fff;
  scroll-behavior: smooth;
  overscroll-behavior: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@keyframes slideRight {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideShow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(221, 67, 2);
}

.active {
  color: #000 !important;
}
.active::before,
.active::after {
  display: none;
}
