.cart-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  display: none;
  animation-fill-mode: forwards;
}

.cart-modal-container {
  background-color: var(--bg-light);
  width: 70%;
  height: 95%;
  position: relative;
  padding: 0.8vw;
  animation-fill-mode: forwards;
  padding-top: 0;
}

.cart-modal-close-btn {
  position: absolute;
  background-color: #000;
  top: 2%;
  right: 1%;
  width: 2vw;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  z-index: 1;
}

.cart-modal-close-btn i {
  color: #fff;
  font-size: 1vw;
}

.cart-modal-title {
  font-size: 3vw;
  font-family: Avenir;
  text-transform: uppercase;
  line-height: 2.5vw;
  padding: 0.8vw 0;
  margin-bottom: 0.8vw;
  top: 0;
}

.cart-modal-header-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid #000;
}

.cart-modal-row-wrap {
  overflow-y: scroll;
  height: 100%;
}

.empty-basket-link,
.empty-basket {
  font-size: 3vw;
  font-family: Avenir;
  text-align: center;
  text-transform: uppercase;
}

.empty-basket-link {
  font-size: 2vw;
  text-decoration: none;
  color: #000;
  margin-top: 2vw;
}

.cart-modal-row-wrap::-webkit-scrollbar {
  width: 1rem;
}

.cart-modal-row-wrap::-webkit-scrollbar-thumb {
  background-color: #000;
}

.cart-modal-row {
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid #ddd;
  padding: 1.5vw 0.5vw;
}

.cart-modal-row:last-child {
  border-bottom: 0.1rem solid transparent;
}

.cart-modal-table {
  width: 100%;
  height: 75%;
}

.cart-modal-product,
.cart-modal-quantity,
.cart-modal-total {
  font-size: 1.2vw;
  font-family: Avenir;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 0.8vw;
}

.cart-modal-total,
.cart-modal-item-total-container {
  text-align: right;
  flex: 1;
}

.cart-modal-total {
  padding-right: 1rem;
}

.cart-modal-product,
.cart-modal-item-product-container {
  flex: 4;
}

.cart-modal-quantity,
.cart-modal-item-quantity-container {
  flex: 1.5;
}

.cart-modal-item-product-container {
  display: flex;
}

.cart-modal-item-product-image {
  background-image: url("https://product.hstatic.net/200000491703/product/1.2_b86c6d85194f4f8ab14e5d78d3ca6638_master.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 8vw;
  height: 8vw;
  border-radius: 1.5rem;
  margin-right: 1.5vw;
}

.cart-modal-item-product-name {
  font-size: 1vw;
  text-transform: uppercase;
  font-family: Avenir;
  margin-bottom: 0.5vw;
  font-weight: 600;
}

.cart-modal-item-product-price,
.cart-modal-item-product-color,
.cart-modal-item-product-size {
  margin-bottom: 0;
}

.cart-modal-item-product-price {
  font-size: 0.8vw;
  font-family: Avenir;
  color: gray;
}

.cart-modal-item-product-color,
.cart-modal-item-product-size,
.cart-modal-item-product-color span,
.cart-modal-item-product-size span,
.cart-modal-item-product-price span {
  font-size: 0.8vw;
  font-family: Avenir;
  color: gray;
  text-transform: uppercase;
}

.cart-modal-item-quantity-minus-btn,
.cart-modal-item-quantity-plus-btn {
  background-color: #000;
  font-size: 1vw;
  outline: none;
  border-radius: 10rem;
  font-family: Avenir;
  color: #fff;
  transition: all ease 0.3s;
  padding: 0.6vw 0.85vw;
  border: 0.1rem solid transparent;
}

.cart-modal-item-quantity-minus-btn:hover,
.cart-modal-item-quantity-plus-btn:hover {
  background-color: var(--bg-light);
  color: #000;
  border-color: #000;
}

.cart-modal-item-quantity-delete-btn {
  border: 0.1rem solid #000;
  outline: none;
  border-radius: 10rem;
  font-family: Avenir;
  color: #000;
  padding: 0.7vw 0.8vw;
  background-color: transparent;
  margin-left: 2vw;
  transition: all ease 0.3s;
}

.cart-modal-item-quantity-delete-btn:hover {
  background-color: #000;
}

.cart-modal-item-quantity-delete-btn:hover i {
  color: #fff;
}

.cart-modal-item-quantity-delete-btn i {
  font-size: 1vw;
}

.cart-modal-item-quantity {
  font-size: 1vw;
  font-family: Avenir;
  outline: none;
  border: none;
  text-align: center;
  width: 30%;
}

.cart-modal-item-quantity::-webkit-outer-spin-button,
.cart-modal-item-quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
.cart-modal-item-quantity[type="number"] {
  -moz-appearance: textfield;
}

.cart-modal-item-total-container {
  font-size: 1vw;
  font-family: Avenir;
  text-align: right;
}

.cart-modal-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-modal-btn-continue-shopping,
.cart-modal-btn-view-basket {
  width: fit-content;
  background-color: #000;
  font-size: 1vw;
  font-family: Avenir;
  text-transform: uppercase;
  color: #fff;
  padding: 0.5vw 1vw;
  border-radius: 3rem;
  overflow: hidden;
  height: 2.3vw;
  position: relative;
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.75s;
}
.cart-modal-btn-continue-shopping:hover span,
.cart-modal-btn-view-basket:hover span {
  top: 0;
}

.cart-modal-btn-continue-shopping span,
.cart-modal-btn-view-basket span {
  display: block;
  font-size: 1vw;
  font-family: Avenir;
  text-transform: uppercase;
  background: var(--bg-light);
  color: #000;
  position: absolute;
  top: 110%;
  text-align: center;
  left: 0;
  width: 100%;
  height: 110%;
  padding: 0.5vw 0;
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.75s;
}

.cart-modal-btn-continue-shopping {
  position: absolute;
  top: 50%;
  left: -11%;
  transform: rotate(-90deg) translateY(-50%);
}

.cart-modal-btn-view-basket {
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: -8%;
  transform: rotate(90deg) translateY(-50%);
}

.cart-modal-btn-view-basket:hover {
  color: #fff;
}

/* OTHER */

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.move-continue-shopping-btn {
  transform: rotate(0) translate(-50%, -50%);
  top: 70%;
  left: 50%;
}

.move-view-basket-btn {
  right: -50%;
}
