.inner-cursor {
  position: fixed;
  left: 10px;
  width: 2rem;
  height: 2rem;
  transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-cursor.grow {
  width: 3.5rem;
  height: 3.5rem;
  transition: width 0.5s, height 0.5s;
}

.inner-cursor.drag {
  width: 13rem;
  height: 13rem;
  transition: width 0.5s, height 0.5s;
}

.inner-cursor p {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  color: #fff;
  mix-blend-mode: difference;
  animation: fadeIn ease 1s;
}

.outer-cursor {
  position: fixed;
  left: 10px;
  width: 3.5rem;
  height: 3.5rem;
  transform: translate(-50%, -50%);
  border: 0.1rem solid #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  z-index: 10;

  transition: width 0.5s, height 0.5s;
}

.outer-cursor.drag {
  width: 13rem;
  height: 13rem;

  transition: width 0.5s, height 0.5s;
  border-color: transparent;
}
