.header-btn {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  right: 3rem;
  top: 3rem;
  transition: all ease 0.4s;
  z-index: 9;
  mix-blend-mode: difference;
}

.header-btn-icon {
  font-size: 1.4rem;
}

.header-btn:hover {
  transform: scale(1.3);
}

.header-btn:hover .header-btn-icon {
  color: black;
}

.logo-image {
  position: fixed;
  top: 2rem;
  left: 3rem;
  width: 5.5rem;
  z-index: 9;
}
