.header-btn-container {
  position: fixed;
  z-index: 9;
  top: 5rem;
  right: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  width: fit-content;
  height: 3vw;
  mix-blend-mode: difference;
}

.header-cart-btn-link {
  background-color: #fff;
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vw;
  border-radius: 5rem;
  transition: all ease 0.4s;
  position: relative;
}

.header-cart-btn-link:hover {
  transform: scale(1.3);
}

.header-cart-btn-link img {
  width: 45%;
  margin-bottom: 0.2vw;
}

.header-cart-number {
  position: absolute;
  top: -15%;
  left: -15%;
  width: 1.5vw;
  height: 1.5vw;
  line-height: 1.5vw;
  display: block;
  background-color: #fff;
  font-size: 0.8vw;
  border-radius: 5rem;
  color: #000;
  border: 0.1vw solid #000;
  text-align: center;
  font-family: Avenir;
  font-weight: 100;
}

.header-btn {
  width: 3vw;
  height: 3vw;
  border-radius: 5rem;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease 0.4s;
  z-index: 9;
  mix-blend-mode: difference;
}

.header-btn-icon {
  font-size: 1vw;
}

.header-btn:hover {
  transform: scale(1.3);
}

.header-btn:hover .header-btn-icon {
  color: #000;
}

.logo-image {
  position: fixed;
  top: 0;
  left: 3rem;
  width: 7vw;
  z-index: 9;
}
