.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%;
  background-color: #fff;
  display: flex;
  z-index: 8;
  opacity: 1;
  transition: all 0.75s cubic-bezier(0.77, 0, 0.175, 1);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(100%);
  border-left: 0.2rem solid #000;
  /* box-shadow: 0 0 4rem rgba(0, 0, 0, 25%); */
}

.menu-item {
  text-decoration: none;
  font-size: 4vw;
  text-transform: uppercase;
  font-family: Oswald;
  z-index: 2;
  color: transparent;
  -webkit-text-stroke: 0.1rem #000;
  position: relative;
  overflow: hidden;
}

.menu-item:hover {
  color: transparent;
}

.menu-item::before {
  content: attr(data-fill-text);
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-text-stroke: 0 transparent;
  color: #000;
  overflow: hidden;
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
}

.menu-item:hover:before {
  width: 100%;
}
/* 
.menu-item:nth-of-type(1) {
  top: 20%;
  left: 2%;
  animation: slideRight ease 0.5s;
}
.menu-item:nth-of-type(2) {
  bottom: 20%;
  left: 2%;
  animation: slideRight ease 0.5s;
}
.menu-item:nth-of-type(3) {
  top: 40%;
  right: 2%;
  animation: slideLeft ease 0.5s;
}
.menu-item:nth-of-type(4) {
  bottom: 3%;
  right: 2%;
  animation: slideLeft ease 0.5s;
} */

/* .menu-item-image {
  position: absolute;
  width: 27vw;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) scale(0.9);
  opacity: 0;
  transition: all ease 0.5s;
  cursor: default;
} */

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */
