/* mobile & table */

@media (max-width: 1023px) {
  /* Homepage  */
  .bestseller-container {
    flex-direction: column;
  }

  .bestseller-infomation-container {
    flex: 0;
    position: unset;
    margin-bottom: 5rem;
  }
  .bestseller-link {
    margin-right: 0;
    font-size: 4vw;
    line-height: unset;
    padding: 1rem 2rem;
  }

  .bestseller-infomation-text {
    font-size: 8vw;
  }
  .bestseller-infomation-text:last-of-type {
    margin-top: -10%;
  }
  .bestseller-infomation-text span {
    font-size: 18vw;
  }
  .bestseller-infomation-text:first-child span {
    margin-left: 8%;
  }

  /* Contact Section  */

  .contact-container {
    padding: 1rem;
  }

  .contact-wrapper {
    flex-direction: column;
  }

  .contact-image-container {
    flex: unset;
    background-position: center center;
    height: 100vw;
  }

  .contact-infomation-heading {
    text-align: center;
    font-size: 7vw;
  }
  .contact-infomation-heading span {
    font-size: 17vw;
  }

  .contact-infomation-container {
    padding: 3rem;
    padding-top: 0;
  }

  .contact-infomation-input-container {
    display: block;
    margin: 5% 0 3%;
  }

  .contact-infomation-input-item:first-child {
    margin-right: 0;
    margin-bottom: 3%;
  }

  .contact-infomation-description {
    font-size: 2vw;
  }

  .contact-infomation-input-item {
    font-size: 2vw;
  }

  .contact-infomation-input-item::placeholder {
    font-size: 2vw;
  }

  .contact-infomation-btn {
    font-size: 2.5vw;
    height: 8vw;
  }

  /* Footer  */

  .follow-us-container {
    position: relative;
  }

  .follow-us-image-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .follow-us-image-container {
    flex: 1 0 35%;
    width: 25vw;
    height: 40vw;
  }

  .follow-us-text {
    position: absolute;
    top: 48%;
    left: 56%;
    transform: translate(-50%, -50%);
    font-size: 10vw;
  }

  .social-container {
    align-items: center;
    flex-direction: column;
  }

  .social-logo-text,
  .social-logo-text span {
    margin-right: 0;
    font-size: 8vw;
  }

  .social-link-container {
    margin-right: 0;
    align-items: center;
    margin-top: 3rem;
  }

  .social-privacy-link {
    text-align: center;
  }

  .social-link-item-icon {
    margin-left: 0;
  }

  .social-privacy-container {
    margin: 3rem 0;
  }

  .social-infomation-container {
    align-items: center;
  }

  .social-infomation-text {
    text-align: center;
  }
}

/* mobile  */

@media (max-width: 600px) {
  .contact-infomation-description {
    font-size: 3vw;
    text-align: center;
  }
  .contact-infomation-heading {
    font-size: 5vw;
  }
  .contact-infomation-heading span {
    font-size: 12vw;
  }
}

/* tablet */

@media (min-width: 740px) and (max-width: 1023px) {
}

/* PC low resolution */

@media (min-width: 1024px) and (max-width: 1440px) {
  .contact-image-container {
    background-position: center center;
  }
}
