/* mobile & table */

@media (max-width: 1024px) {
  .wrapper {
    overflow: hidden;
  }

  /* Cursor  */

  .inner-cursor,
  .inner-cursor.grow,
  .inner-cursor.drag,
  .inner-cursor p,
  .outer-cursor,
  .outer-cursor.drag {
    display: none;
  }

  .wrapper {
    overflow-x: hidden;
  }

  /* Homepage  */

  /* Banner  */

  .banner-container {
    height: 100vh;
  }

  .banner-text {
    font-size: 30vw;
    margin-left: 0;
    left: 50%;
  }

  .banner-text:nth-child(2) {
    left: 50%;
    top: 58%;
  }

  .banner-slideshow-container {
    height: 50%;
  }

  .banner-slideshow-item-container {
    height: 100%;
  }
  .banner-slideshow-item:nth-child(2n) {
    width: 50vw;
  }

  .banner-slideshow-item:nth-child(2n + 1) {
    width: 35vw;
  }

  /* Carousel  */

  .product-container {
    display: none;
  }

  /* Best seller  */
  .bestseller-container {
    flex-direction: column;
  }

  .bestseller-infomation-container {
    flex: 0;
    position: unset;
    margin-bottom: 5rem;
  }

  .bestseller-link {
    margin-right: 0;
    font-size: 4vw;
    line-height: unset;
    padding: 1rem 2rem;
  }

  .bestseller-infomation-text {
    font-size: 8vw;
  }
  .bestseller-infomation-text:last-of-type {
    margin-top: -10%;
  }
  .bestseller-infomation-text span {
    font-size: 18vw;
  }
  .bestseller-infomation-text:first-child span {
    margin-left: 8%;
  }

  /* Contact Section  */

  .contact-container {
    padding: 1rem;
  }

  .contact-wrapper {
    flex-direction: column;
  }

  .contact-image-container {
    flex: unset;
    background-position: center center;
    height: 100vw;
  }

  .contact-infomation-heading {
    text-align: center;
    font-size: 7vw;
  }
  .contact-infomation-heading span {
    font-size: 17vw;
  }

  .contact-infomation-container {
    padding: 3rem;
    padding-top: 0;
  }

  .contact-infomation-input-container {
    display: block;
    margin: 5% 0 3%;
  }

  .contact-infomation-input-item:first-child {
    margin-right: 0;
    margin-bottom: 3%;
  }

  .contact-infomation-description {
    font-size: 2vw;
  }

  .contact-infomation-input-item {
    font-size: 2vw;
  }

  .contact-infomation-input-item::placeholder {
    font-size: 2vw;
  }

  .contact-infomation-btn {
    font-size: 2.5vw;
    height: 8vw;
  }

  /* Footer  */

  .footer-container {
    padding-top: 2rem;
  }

  .follow-us-container {
    position: relative;
    margin: 0 2rem;
  }

  .follow-us-image-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .follow-us-image-container {
    flex: 1 0 35%;
    width: 25vw;
    height: 40vw;
  }

  .follow-us-text {
    position: absolute;
    top: 50%;
    left: 54.58%;
    transform: translate(-50%, -50%);
    font-size: 7vw;
  }

  .social-container {
    align-items: center;
    flex-direction: column;
  }

  .social-logo-text,
  .social-logo-text span {
    margin-right: 0;
    font-size: 8vw;
  }

  .social-link-container {
    margin-right: 0;
    align-items: center;
    margin-top: 3rem;
  }

  .social-privacy-link {
    text-align: center;
    font-size: 2vw;
  }

  .social-link-item {
    font-size: 2vw;
  }

  .social-link-item-icon {
    margin-left: 0;
  }

  .social-privacy-container {
    margin: 3rem 0;
  }

  .social-infomation-container {
    align-items: center;
    margin-top: 3rem;
  }

  .social-infomation-text {
    text-align: center;
    font-size: 2vw;
  }

  /* copyright  */
  .copyright-text {
    font-size: 2vw;
  }

  /* MODAL */
  .modal-container {
    width: 100%;
    border-left: none;
  }

  .menu-item {
    font-size: 20vw;
  }

  /* PRELOAD */

  .preloader-text {
    font-size: 40vw;
  }

  /* HEADER */

  .header-btn {
    width: 6vw;
    height: 6vw;
  }
  .header-btn-icon {
    font-size: 2vw;
  }

  .header-btn:hover {
    transform: none;
  }

  .logo-image {
    top: 2rem;
    width: 9vw;
  }

  .header-cart-btn-link {
    width: 10vw;
    height: 10vw;
    margin-right: 2vw;
  }

  .header-cart-btn-link:hover {
    transform: none;
  }

  .header-cart-number {
    font-size: 3vw;
    line-height: 5vw;
    width: 5vw;
    height: 5vw;
  }

  /* PRODUCT DETAIL */
  .product-detail-container {
    position: relative;
    display: block;
  }

  .product-detail-name-container {
    min-width: unset;
    padding: 0;
    margin-right: 0;
    flex-direction: column;
    height: fit-content;
    margin-top: 20vw;
  }

  .product-detail-name-image {
    width: 100vw;
    height: 100vw;
  }

  .product-detail-name {
    font-size: 19vw;
    padding: 0;
  }

  .product-detail-separate-container {
    display: none;
  }

  .product-detail-material-container {
    padding: 0;
  }

  .product-detail-material {
    font-size: 25vw;
    margin-right: 2vw;
  }

  .product-detail-image-container {
    width: 100%;
    margin-right: 0;
  }

  .product-detail-material-image-container {
    margin-top: 3vw;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
  }

  .product-detail-material-image {
    margin-top: 2rem;
    height: 90vw;
    align-self: flex-end;
  }

  .product-detail-material-image-text {
    align-self: flex-start;
    max-width: unset;
    font-size: 8vw;
  }

  .product-detail-material-image-text span {
    text-align: justify;
    font-size: 4vw;
    width: 85vw;
  }

  .product-detail-material-image-text span:last-child {
    width: 71%;
    margin-right: 2vw;
  }

  .product-detail-description-container {
    padding-right: 2vw;
  }

  .product-detail-description-content {
    flex-direction: column-reverse;
  }

  .product-detail-description-title {
    font-size: 25vw;
    margin: 0;
    text-align: right;
  }

  .product-detail-description-content-text {
    font-size: 4vw;
    margin: 0 0 3vw 0;
    width: 73vw;
    text-align: justify;
    align-self: flex-end;
  }

  .product-detail-description-content-image {
    height: 51vw;
    background-size: contain;
  }

  .product-detail-image-next-btn,
  .product-detail-image-prev-btn {
    font-size: 5vw;
    width: 5vw;
    height: 5vw;
  }
  .product-detail-order-container {
    flex-direction: column;
    height: fit-content;
  }

  .product-detail-order-infomation-container {
    padding: 3%;
    width: 100%;
  }

  .product-detail-order-infomation-name-tag {
    text-align: center;
    font-size: 7vw;
  }
  .product-detail-order-infomation-name {
    font-size: 8vw;
    max-width: unset;
    text-align: center;
  }

  .product-detail-order-infomation-price-container {
    justify-content: center;
  }

  .product-detail-order-infomation-old-price,
  .product-detail-order-infomation-new-price {
    font-size: 4vw;
  }

  .product-detail-order-infomation-color-container {
    justify-content: center;
  }

  .product-detail-order-infomation-color {
    width: 6vw;
    height: 6vw;
  }

  .product-detail-order-infomation-size-label {
    font-size: 4vw;
  }

  .product-detail-order-infomation-buy-basket,
  .product-detail-order-infomation-buy {
    font-size: 5vw;
  }

  /* CART MODAL */

  .cart-modal-container {
    width: 100%;
    height: 100%;
    padding: 5vw;
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.75s;
  }

  .cart-modal-table {
    height: 80%;
  }

  .cart-modal-title {
    font-size: 8vw;
    line-height: 7vw;
    margin: 0 0 2vw 0;
  }

  .cart-modal-close-btn {
    top: 4%;
    right: 5%;
    width: 8vw;
    height: 8vw;
  }

  .cart-modal-close-btn i {
    font-size: 3vw;
  }

  .cart-modal-product {
    font-size: 5vw;
  }

  .cart-modal-quantity,
  .cart-modal-total {
    display: none;
  }

  .cart-modal-row {
    flex-direction: column;
    padding: 5vw 0;
  }

  .cart-modal-row-wrap {
    height: 100%;
  }

  .cart-modal-row-wrap::-webkit-scrollbar {
    display: none;
  }

  .cart-modal-item-product-container {
    width: 100%;
    margin-bottom: 2vw;
  }

  .cart-modal-item-product-image {
    width: 25vw;
    height: 25vw;
  }

  .cart-modal-item-product-info {
    margin-left: 2vw;
  }

  .cart-modal-item-product-name {
    font-size: 4vw;
    line-height: 5vw;
    font-weight: 100;
  }

  .cart-modal-item-quantity,
  .cart-modal-item-product-price,
  .cart-modal-item-product-color,
  .cart-modal-item-product-size,
  .cart-modal-item-product-price span,
  .cart-modal-item-product-color span,
  .cart-modal-item-product-size span {
    font-size: 2.5vw;
  }

  .cart-modal-item-quantity-container {
    margin-left: 15vw;
  }

  .cart-modal-item-quantity-minus-btn,
  .cart-modal-item-quantity-plus-btn {
    font-size: 3vw;
    padding-right: 1.8vw;
    padding-left: 1.8vw;
  }

  .cart-modal-item-quantity-delete-btn {
    padding: 2vw 2vw 1.5vw;
  }

  .cart-modal-item-quantity-delete-btn i {
    font-size: 2.5vw;
  }

  .cart-modal-item-total-container {
    display: none;
  }

  .cart-modal-btn-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 2%;
    display: flex;
    gap: 1vw;
  }

  .cart-modal-btn-continue-shopping,
  .cart-modal-btn-view-basket {
    position: relative;
    transform: none;
    width: 36vw;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vw;
  }

  .cart-modal-btn-continue-shopping span,
  .cart-modal-btn-view-basket span {
    display: none;
  }

  .empty-basket-link,
  .empty-basket {
    font-size: 6vw;
  }

  .empty-basket-link {
    font-size: 4vw;
  }

  /* CART */

  .cart-container {
    margin-top: 25vw;
  }

  .cart-title {
    font-size: 8vw;
    line-height: 7vw;
    padding-top: 3vw;
    border-top: 0.1rem solid #000;
    margin-bottom: 3vw;
  }

  .cart-quantity,
  .cart-total {
    display: none;
  }

  .cart-product {
    font-size: 5vw;
  }

  .cart-row {
    flex-direction: column;
    padding: 5vw 0;
  }

  .cart-row-wrap {
    overflow: unset;
  }

  .cart-item-product-container {
    width: 100%;
    margin-bottom: 2vw;
  }

  .cart-item-product-image {
    width: 25vw;
    height: 25vw;
  }

  .cart-item-product-name {
    font-size: 4vw;
    line-height: 5vw;
    font-weight: 100;
  }

  .cart-item-quantity,
  .cart-item-product-price,
  .cart-item-product-color,
  .cart-item-product-size,
  .cart-item-product-price span,
  .cart-item-product-color span,
  .cart-item-product-size span {
    font-size: 2.5vw;
  }

  .cart-item-quantity-container {
    margin-left: 15vw;
  }

  .cart-item-quantity-minus-btn,
  .cart-item-quantity-plus-btn {
    font-size: 3vw;
    padding: 1vw 1.9vw;
  }

  .cart-item-quantity-delete-btn {
    padding: 2vw 2vw 1.5vw;
  }

  .cart-item-quantity-delete-btn i {
    font-size: 2.5vw;
  }

  .cart-item-total-container {
    display: none;
  }

  .cart-subtotal-container {
    width: 100%;
  }

  .cart-subtotal {
    font-size: 5vw;
    margin-top: 3vw;
    padding-bottom: 3vw;
  }

  .cart-subtotal span {
    font-size: 5vw;
  }

  .cart-subtotal-description {
    font-size: 3vw;
    margin: 4vw 0 7vw;
  }

  .cart-subtotal-checkout-btn {
    font-size: 4vw;
    padding: 3vw 0;
    margin-bottom: 4vw;
  }

  .cart-subtotal-checkout-btn span {
    display: none;
  }

  /* ABOUT */

  .about {
    height: 77vh;
    flex-direction: column;
    justify-content: space-around;
  }

  .about-title {
    font-size: 9vw;
    line-height: 17vw;
  }

  .about-title span {
    font-size: 20vw;
    margin-left: 3vw;
  }

  .about-text {
    font-size: 4vw;
    margin-top: 3vh;
  }

  .about-text span {
    font-size: 4.2vw;
  }

  .about-container::before {
    content: none;
  }

  .about-container::after {
    width: 75vw;
    height: 40vh;
  }
}

/* mobile  */

@media (max-width: 600px) {
  /* Homepage  */

  /* HEADER */

  .header-btn {
    width: 10vw;
    height: 10vw;
  }
  .header-btn-icon {
    font-size: 4vw;
  }

  .logo-image {
    top: 2rem;
    width: 20vw;
  }

  /* Banner  */
  .banner-slideshow-item:nth-child(2n) {
    width: 70vw;
  }

  .banner-slideshow-item:nth-child(2n + 1) {
    width: 45vw;
  }

  .banner-text {
    font-size: 38vw;
  }

  .banner-text:nth-child(2) {
    top: 53%;
  }

  /* Contact  */
  .contact-infomation-description {
    font-size: 3vw;
    text-align: center;
  }
  .contact-infomation-heading {
    font-size: 8vw;
  }
  .contact-infomation-heading span {
    font-size: 17vw;
  }
  /* Footer  */

  .social-infomation-text {
    text-align: center;
    font-size: 3vw;
    line-height: 6vw;
  }

  .social-privacy-link {
    text-align: center;
    font-size: 3vw;
  }

  .social-link-item {
    font-size: 3vw;
  }

  .copyright-text {
    font-size: 3vw;
  }

  /* ALLPRODUCT PAGE */

  .all-product-title {
    font-size: 7vw;
    margin-top: 25vw;
    margin-bottom: 5vw;
  }

  .all-product-section-list {
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .all-product-section-list-item {
    transform: none;
    flex: 1 0 35%;
    margin: 0 2% 5% 2%;
  }

  .all-product-section-list-item:nth-of-type(2),
  .all-product-section-list-item:last-of-type {
    margin-right: 0;
  }

  .all-product-section-list-item::after {
    top: 9%;
    left: -4%;
    height: 105%;
    width: 4%;
    transform: skew(0, -46deg);
  }

  .all-product-section-list-item::before {
    bottom: -25%;
    left: -2.1%;
    height: 23%;
    width: 101%;
    transform: skew(-45deg, 0deg);
  }

  .all-product-section-list-item a {
    font-size: 4vw;
  }

  .all-product-section-image {
    height: 80vw;
  }

  .all-product-section-info-price,
  .all-product-section-info-name {
    font-size: 4vw;
  }

  /* PRODUCT DETAIL */

  .product-detail-image-container {
    height: 70vh;
  }
}

/* tablet */

@media (min-width: 600px) and (max-width: 768px) {
  .all-product-section-image {
    height: 85vw;
  }
}

@media (min-width: 600px) and (max-width: 991px) {
  /* ALLPRODUCT PAGE */

  .all-product-title {
    font-size: 7vw;
    margin-top: 12vw;
  }

  .all-product-section-list {
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .all-product-section-list-item {
    transform: none;
    flex: 1 0 35%;
    margin: 0 2% 2% 2%;
  }

  .all-product-section-list-item:nth-of-type(2),
  .all-product-section-list-item:last-of-type {
    margin-right: 0;
  }

  .all-product-section-list-item::after {
    top: 8%;
    left: -2.7%;
    height: 103%;
    width: 2.5%;
    transform: skew(0, -46deg);
  }

  .all-product-section-list-item::before {
    bottom: -23%;
    left: -1.58%;
    height: 23%;
    width: 101%;
    transform: skew(-45deg, 0deg);
  }

  .all-product-section-list-item a {
    font-size: 2vw;
  }

  .all-product-section-image {
    height: 55vw;
  }

  .all-product-section-info-price,
  .all-product-section-info-name {
    font-size: 2vw;
  }
}

@media (min-width: 740px) and (max-width: 1024px) {
  /* MODAL */
  .menu-item {
    font-size: 10vw;
  }

  /* ALLPRODUCT PAGE */
  /* 
  .all-product-section-list {
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .all-product-section-list-item {
    transform: none;
    flex: 1 0 35%;
    margin: 0 2% 2% 2%;
  }

  

  .active {
    transform: translate(-0.5vw, 0.5vw);
  }

  .all-product-section-list-item:nth-of-type(2),
  .all-product-section-list-item:last-of-type {
    margin-right: 0;
  }

  .all-product-section-list-item::after {
    top: 8%;
    left: -2.7%;
    height: 103%;
    width: 2.5%;
    transform: skew(0, -46deg);
  }

  .all-product-section-list-item::before {
    bottom: -23%;
    left: -1.58%;
    height: 23%;
    width: 101%;
    transform: skew(-45deg, 0deg);
  }

  .all-product-section-list-item a {
    font-size: 2vw;
  }

  .all-product-section-image {
    height: 55vw;
  }

  .all-product-section-info-price,
  .all-product-section-info-name {
    font-size: 2vw;
  } */
}

/* PC low resolution */

@media (min-width: 1024px) and (max-width: 1440px) {
  .contact-image-container {
    background-position: center center;
  }
}
